@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #000000;
}

.page-header {
  background-color: #ffffff;
}

.main-index {
  background-color: #ffffff;
}

.main-inner {
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color:#756157;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

/*Navigation*/

.navigation-list {
  list-style: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
}

.navigation-link-current{
  text-decoration: underline;
}

.value-favorite {
font-size: 10px;
line-height: 10px;
text-align: center;
background-color: #7db54f;
color: #FFFFFF;
}

/* Filter */

.main-inner-title {
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.filter {
  background-image: url(../images/filter-background.jpg);
  background-color: #745b54;
  color: #ffffff;
  background-repeat: no-repeat;
}

/*Advantages*/

.advantages-main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-main-description {
  text-align: center;
  color: #333333;
}

.advantages-list {
  list-style: none;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-dark {
  background-color: rgba(130, 179, 211, 1);
}

.advantages-item-medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-item-dark .advantages-title,
.advantages-item-dark .advantages-description {
  color:#ffffff;
}

/*Service*/

.service-main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.service-main-description {
  text-align: center;
  color: #333333;
}

.service-list {
  list-style: none;
}

.service-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.service-item:nth-child(2) {
  background-color:#ffffff;
}

.service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.service-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

/* hotel-search */

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search-description {
  text-align: center;
  color: #333333;
}

.hotel-search-button {
font-weight: 700;
font-size: 20px;
line-height: 36px;
align-items: center;
}

/* Footer */

.page-footer {
  background-color: #ffffff;
}

.footer-subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-subscribe-description {
  text-align: center;
  color:#ffffff
}

.footer-subscribe {
  background-image: url(../images/subscribe-background.jpg);
  background-color: #3f668e;
  color: #ffffff;
  background-repeat: no-repeat;
}

.footer-subscribe-form {
  font-size: 18px;
  line-height: 24px;
}

.footer-subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

/* footer-social */

.footer-social-list {
  list-style: none;
}

.social-button {
  background-color: transparent;
}

/* footer-contacts */

.footer-contacts-address-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
